.highlight_white {
  background: repeating-linear-gradient(-45deg, #454545, #454545 5px, #ffffff 5px, #ffffff 15px);
}

.highlight_black {
  background: repeating-linear-gradient(-45deg, #454545, #454545 5px, #e5e1d1 5px, #e5e1d1 15px);
}

#board {
  width: 600px;
  float: left;
}

#stats {
  font-size: 16pt;
}

footer {
  padding-top: 20px;
  display: block;
  clear: both;
}

/* Overwrite chessboardjs style */

#board div.chess_board div.chess_player_white.chess_piece_knight:after {
  content: '';
}

#board div.chess_board div.chess_player_white.chess_piece_knight {
  background-image: url('../img/knight.svg');
}
